# dependencies
node_modules/

# builds
/dist/
/dev-dist/
*.log

# editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# env & caches
.env*
.cache/
**/*.local

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

